<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>Quora Post</h1>
    <% for(post of posts){ %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <br>
           <button id="btn"> <a href="http://localhost:3030/posts/<%= post.id %>"> See in Detail</a></button>
           <button id="btn"> <a href="http://localhost:3030/posts/<%= post.id %>/edit"> Edit</a></button>
            
            <form action="/posts/<%=post.id%>?_method=DELETE" method="post">
                <button id="btn">Delete Post</button>
            </form>
        </div>
        <% } %> 
        
        <br>
        <br><button id="btn-c">
        <a href="http://localhost:3030/posts/new">Create New Post</a></button>
  
    
    
</body>
</html>